<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brainjuice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.brainjuice.BrainJuice"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.brainjuice.HomePage"
            android:label="@string/app_name" >
        </activity> 
        
        <activity
            android:name="com.example.brainjuice.AdultHomePage"
            android:label="@string/app_name" >
        </activity> 
        
        <activity
            android:name="com.example.brainjuice.AnswerQuestion"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.brainjuice.AdultNotification"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.brainjuice.AdultNotificationInstance"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.brainjuice.ChildNotification"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.brainjuice.ChildNotificationInstance"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.brainjuice.ChildSetting"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.brainjuice.ChildChangePassword"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
